body {
  background:   blue;
  background-image:
                url('../images/fern.png'),
                url('../images/foliage.png'),
                url('../images/grass.png'),
                url('../images/ladybug.png'),
                url('../images/leaf.png');
  width: 100%;
  box-sizing: border-box;
  zoom: 80%;
  font-family: 'Vesper Libre', serif;
}
#container {
  width: 100%;
}
#wrapper {
  width: 64em;
  margin: 0 auto;
}
#board {
  max-width: 44em;
  height: 44em;
  float: left;
  margin-right: 1rem;
}
p {
  font-size: 20px;
}
a {
  color: white;
}
a:visited {
  color: green;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  color: white;
}
h2 {
  text-align: center;
  font-size: 1em;
}
h3 {
  color: white;
  line-height: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 1.8rem;
}
h4 {
  margin-top: 0px;
}
h5 {
  font-size: 1rem;
}
.cell {
  width: 4em;
  height: 4em;
  float: left;
  background-color: green;
  border: 1px black solid;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
}
#scoreboard {
  max-width: 16em;
  height: 41em;
  overflow: auto;
  border: 1px black solid;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  background-color: orange;
}
#timer, #score {
  width: 80%;
  height: 20em;
  margin: .3em auto;
  height: .1em;
  border: 1px black solid;
  padding: 1em 0;
  background-color: purple;
  font-family: Itim, Verdana;
  color: white;
  font-size: 44px;
  line-height: 0px;
  text-align: center;
}
button {
  width: 80%;
  margin: .3em auto .3em 10%;
  text-align: center;
  cursor: pointer;
  background-color: purple;
  box-shadow: 0px 9px black;
  border-radius: 15px;
  color: white;
}
button:active {
  box-shadow: 0px 5px #cc;
  transform: translateY(5px);
}
.clear {
  clear: both;
  text-align: center;
}
 #funfacts {
  width: 80%;
  height: 20em;
  margin: 1em auto .2em auto;
  border: 1px purple  solid;
  padding: 1em 0;
}
.bird1 {
  background-image: url("../images/bird1.gif");
  background-color: orange;
}
.bird2 {
  background-image: url('../images/bird2.gif');
  background-color: orange;
}
.bird3 {
  background-image: url('../images/bird3.gif');
  background-color: orange;

}
.bird4 {
  background-image: url('../images/bird4.gif');
  background-color: orange;
}
.clear a {
  color: white;
}
.reset {
  background-color: green;
}
.selected {
  background-color: green;
}
.mp-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}
.mp-show {
	visibility: visible;
}
.mp-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(143,27,15,0.8);
	transition: all 0.3s;
}
.mp-show ~ .mp-overlay {
	opacity: 1;
	visibility: visible;
}
