body {
  background: blue;
  width: 100%;

}
#container {
  width: 100%;
}
#wrapper {
  width: 64em;
  margin: 0 auto;
}
#board {
  max-width: 44em;
  height: 44em;
  float: left;
  margin-right: 10px;
}
h1 {
  text-align: center;
  font-size: 44px;
}
.cell {
  width: 4em;
  height: 4em;
  float: right;
  background-color: green;
  border: 1px black solid;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
}
#scoreboard {
  max-width: 16em;
  height: 41em;
  overflow: auto;
  border: 1px black solid;
  border-radius: .25em;
  -moz-border-radius: .25em;
  -webkit-border-radius: .25em;
  background-color: orange;
}
.timer {
  width: 80%;
  margin: .3em auto;
  height: .1em;
  border: 1px black solid;
  padding: 1em 0;
  background-color: black;
  font-family: Itim, Verdama;
  color: white;
  font-size: 44px;
  line-height: 0px;
  text-align: center;
}
 .scorer {
  width: 80%;
  height: 20em;
  margin: 1em auto .2em auto;
  border: 1px black solid;
  padding: 1em 0;
}
.bird1 {
  background-color: white;
}
.bird2 {
  background-color: grey;
}
.bird3 {
  background-color: black;
}
.bird4 {
  background-color: lavender;
}
